body{
	background: repeat-x #172f18  url(/img/iface/greenworld/bg.png);
}

.btn .left{
	background:url(/img/iface/greenworld/hdr-button-left.png);
}
.btn .right{
	background:url(/img/iface/greenworld/hdr-button-bg-right.png);
}
.btn .cont{
	background:#28862d url(/img/iface/greenworld/hdr-button-bg.png) right no-repeat;
	color:#FFF;
}

#head_left{
	float:left; 
	width:330px; 
	height:64px; 
	background:url(/img/iface/greenworld/sm-left-head.png);
}

#head_right{
	float:right; 
	width:182px; 
	height:64px; 
	background:url(/img/iface/greenworld/sm-right-head.png);
}

#head_mid{
	margin-left:330px; 
	margin-right:182px; 
	height:64px; 
	background:#2ba531;
}