@charset "utf-8";
/* CSS Document */

.input-form{
/*	display:none;*/
	padding:5px 20px;
/*	cursor:pointer;*/
}

.input-form textarea{
	width:100%;
	height:150px;
}
.input-form textarea, .input-form button, .input-form input{
	margin-bottom:10px;
}
.input-form input[@type=text]{
	width:300px;
}
.input-form h4{
	margin:0
}


#booking-form select, #booking-form input, #booking-form textarea{
	width:100%;
}
