@charset "utf-8";
/* CSS Document */

/*  button */

.btn{
	cursor:pointer;
}

.btn .left{
	background:url(/img/iface/skiworld/hdr-button-left.png);
	width:3px;
	height:22px;
	float:left;
	margin:0px; padding:0px;
}
.btn .right{
	background:url(/img/iface/skiworld/hdr-button-bg-right.png);
	width:3px;
	height:22px;
	float:right;
	margin:0px; padding:0px;
}
.btn .cont{
	margin-left:3px;
	margin-right:3px;
	background:#091951 url(/img/iface/skiworld/hdr-button-bg.png) right no-repeat;
	padding-top:3px;
	padding-left:2px;
	height:19px;
	color:#FFF;
}

/* /button */